<form>
    <div class="input-group mb-3">
        <input
            type="text"
            name="InputTodo"
            class="form-control"
            placeholder="Add a new todo.."
            [(ngModel)]="InputTodo" />
    
    <input 
        type="submit"
        class="btn btn-primary"
        value="Add Todo"
        (click)="addTodo()" 
        />
    </div>
</form>